[Unit]
Description=ncurses display manager
Requires=getty@tty1.service
After=getty@tty1.service
After=systemd-user-sessions.service plymouth-quit-wait.service

[Service]
Type=idle
ExecStart=/usr/bin/dm
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
Alias=display-manager.service
